.student-board {
	/* width: 80%; */
    margin: auto;
    /* margin-top: 2%; */
	margin-bottom: 10%;
    /* border-radius: 15px; */
    border: 1px solid #dee2e6;
    /* overflow-x: auto;
    overflow-y: auto;
    overflow: scroll; 
    height: 390px; */
    background-color: rgb(250, 250, 250)
}

.student-list {
    margin: 1%;
}

.card {
    padding: 0%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 4%;
}

.national-header {
    background-color: #bdd8f3
}

.national-body {
    background-color: #e6f2ff;
}

.international-header {
    background-color: #edebd4
}

.international-body {
    background-color: #fffff9
}

.fa-lg {
    padding: 1%;
    float: right;
    cursor: pointer;
}

.delete-student {
    color: rgb(179, 53, 53);
}

.edit-student {
    color: rgb(53, 103, 179);
}

.view-student {
    color: rgb(206, 196, 65);
}

.blockquote-footer {
    float: right;
}

p {
    margin-bottom: 0%;
}

span {
    font-weight: 450;
}

.fa-lg {
    padding: 1.5%;
}
