<!-- Created by -- Ashwani (3146451) -->
<div >
  <div class="alert alert-success">
      <b>Admin Email : </b> {{adminUsername}}  <b> Password : </b> {{adminPassword}}
  </div>
  <div class="align-center login-card">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="row">
        <img class="align-center" src="assets/images/nagarro_logo.png">
      </div>
      <div class="form-row">
        <label for="validationDefault01"><b>Email Id</b></label>
        <input type="email" class="form-control" id="validationDefault01" formControlName="email" placeholder="admin email"
          [ngClass]="{'error': loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)}">
        <div class="text-danger"*ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)">
          Please enter valid email address.
        </div> 
      </div>

      <br>
      <div class="form-row">
        <label for="validationDefault02"><b>Password</b></label>
        <input type="password" class="form-control" id="validationDefault02" formControlName="password" placeholder="password"
        [ngClass]="{'error': loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)}">
        <div class="text-danger" *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)">
          Password must be numeric only.
        </div> 
      </div>
      <br>
      <button type="submit" class="btn btn-success btn-lg btn-block"  [disabled]="!loginForm.valid">Admin login</button>
    </form>
    <div>
  </div>
</div>